package layout

templ Default() {
	<!DOCTYPE html>
	<html>
		<head>
			<script src="assets/js/htmx.min.js"></script>
			<link href="assets/dist/styles.css" rel="stylesheet"/>
			<title>My Page</title>
		</head>
		<body>
			@Navbar()
			<div>
				{ children... }
			</div>
		</body>
	</html>
}
