package layout

templ Navbar() {
	<nav class="bg-gray-800 p-4">
		<div class="container mx-auto flex justify-between items-center">
			<div>
				<a href="#" class="text-white font-bold">Logo</a>
			</div>
			// <div>
			// 	<a href="#" class="text-white mx-2">Home</a>
			// 	<a href="#" class="text-white mx-2">About</a>
			// 	<a href="#" class="text-white mx-2">Services</a>
			// 	<a href="#" class="text-white mx-2">Contact</a>
			// </div>
		</div>
	</nav>
}
