package record

import "github.com/shivambaku/fuufu-app/layouts"

templ RecordForm() {
	@layout.Base() {
		<form>
			<select>
				<option value="Anime">Anime</option>
				<option value="Calories">Calories</option>
			</select>
		</form>
	}
}
