package record

import "github.com/shivambaku/fuufu-app/layouts"

templ RecordForm() {
	@layout.Default() {
		<select>
			<option value="Anime">Anime</option>
			<option value="Calories">Calories</option>
		</select>
	}
}
