package layout

templ Base() {
	<!DOCTYPE html>
	<html>
		<head>
			<script src="/js/htmx.min.js"></script>
			// <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
			<title>My Page</title>
		</head>
		<body>
			<button hx-get="/user" hx-trigger="click">
				Put To Messages
			</button>
			This is the base layout
			{ children... }
		</body>
	</html>
}
