package layout

templ Default() {
	<!DOCTYPE html>
	<html>
		<head>
			<script src="/js/htmx.min.js"></script>
			<link href="/dist/styles.css" rel="stylesheet"/>
			<title>My Page</title>
		</head>
		<body>
			<h1 class="text-4xl font-bold p-4">
				Hello world! 
			</h1>
			{ children... }
		</body>
	</html>
}
