package layout

templ Default() {
	<!DOCTYPE html>
	<html>
		<head>
			<script src="/js/htmx.min.js"></script>
			<link href="/dist/styles.css" rel="stylesheet"/>
			<title>My Page</title>
		</head>
		<body>
			// <div>
			// 	@Sidebar()
			// 	<div>
			// 		{ children... }
			// 	</div>
			// </div>
		</body>
	</html>
}
