package page

import (
	"github.com/shivambaku/go-web-templ-htmx-tailwind-demo/views/layouts"
	"github.com/shivambaku/go-web-templ-htmx-tailwind-demo/internal/database"
)

templ Info(user database.User) {
	@layout.Default() {
		<h1>Hello, { user.Username } !</h1>
	}
}
