package user

import (
	"github.com/shivambaku/fuufu-app/layouts"
	"github.com/shivambaku/fuufu-app/models"
)

templ Show(user model.User) {
	@layout.Default() {
		<h1>Hello, { user.Email } !</h1>
	}
}
