package user

import (
	"github.com/shivambaku/fuufu-app/layouts"
	"github.com/shivambaku/fuufu-app/models"
)

script click(user model.User) {
	alert("Hello, " + user.Email + "!")
}

templ Show(user model.User) {
	@layout.Default() {
		<h1>Hello, { user.Email } !</h1>
		<button onclick={ click(user) }>Click me!</button>
	}
}
